_site/
.cache/
.jekyll-cache/
node_modules/
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
vendor

_site
.sass-cache
.jekyll-metadata
.idea
Thumbs.db
*.aux
*.run.xml
*.blg
*.out
*.log
*.bcf
*.bbl
*.lock
.ipynb_checkpoints/
*.crdownload

*-checkpoint.ipynb
0*.png
*.synctex.gz
*.pyc

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
static/styles/index.js

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix