---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/css/common.css' rel='stylesheet' />
    <link href='/css/research.css' rel='stylesheet' />
    {% include favicon.html %}
    <style>
        h2 {
            margin-top: 90px;
            margin-bottom: 40px;
            color: #333;
        }
    </style>
</head>

<body>
    {% include nav.html %}
    <div id="research-content" class="wrap"></div>
    <script>
        fetch('/content/research.html')
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.getElementById('research-content').innerHTML = data;
            });
    </script>
</body>

</html>