<html>

<head>
    <title>{{ page.title }}</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport' />

    <meta name='description' content=''>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='''>

    <link href=' /css/common.css' rel='stylesheet' />
    <link href='/css/blog.css' rel='stylesheet' />
    <link href='/css/trac.css' rel='stylesheet' />
    <link href='/css/markdown.css' rel='stylesheet' />

    {% include favicon.html %}
    {% include katex.html %}

    {% include highlight.html %}
    {% include toggle.html %}



</head>

<body>
    <div class='content'>
        {% include nav.html %}
        <div class='front-matter'>
            <div class='wrap'>
                <h1>{{ page.title }}</h1>
                <h4>{{ page.subtitle }}</h4>
                <div class='bylines'>
                    <div class='byline'>
                        <h3>Published</h3>
                        <p>{{ page.date | date: '%d %B %Y' }}</p>
                    </div>
                    <!-- Toggle Button for Code Blocks -->
                    <div class="toggle-code-container">
                        <button id="toggle-code-btn" aria-expanded="false">Show Code Blocks</button>
                    </div>

                </div>
                <div class='clear'></div>
            </div>
        </div>

        <div class='wrap article'>

            {{ content }}
        </div>
        <div id='bibliography'>
            <div class='wrap'>
                {% bibliography --cited %}
            </div>
        </div>
    </div>


</body>

</html>